body {
  /* background-color: rgb(255, 255, 255); */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  /* background-color: hsl(48, 10%, 90%); */
}
button {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
}

button:hover {
  background-color: hsl(169, 90%, 60%);
}

.passwordBox {
  font-family: "Courier New", Courier, monospace;
  margin-top: 30px;
  font-weight: bold;
  background-color: rgb(246, 239, 170);
  /* background-color: hsl(169, 90%, 60%); */
  padding: 10px 10px;
  width: fit-content;
  font-size: 1.5em;
}

.includeOptions {
  margin-bottom: 20px;
  margin-left: 50px;
}

#passwordLength {
  background-color: rgb(255, 255, 255);
  border: none;
}

#passwordLength:hover {
  background-color: hsl(169, 90%, 60%);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  transition: color 0.3s;
}

input[type="checkbox"] + label:hover {
  color: hsl(215, 90%, 60%);
}

input[type="checkbox"]:checked + label {
  font-weight: bold;
  background-color: hsl(169, 90%, 60%);
}

input[type="checkbox"]:checked + label:hover {
  background-color: hsl(69, 90%, 60%);
}

/* #copyMessage{
  color: hsl(169, 90%, 60%);
  font-weight: bold;
} */
