body {
  background-color: hsl(0, 6%, 86%);
}

form {
  background-color: white;
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 35px;
}

#textBox {
  text-align: center;
  font-size: 1.5em;
  width: 60%;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: antiquewhite;
}

button {
  margin-top: 20px;
  background-color: blanchedalmond;
  font-size: 1.2em;
  padding: 10px 15px;
  border-radius: 10px;
}
